USE [Codext]
GO
/****** Object:  Table [dbo].[Lexico]    Script Date: 29/03/2020 12:27:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lexico](
	[Estado] [tinyint] NULL,
	[A_A] [tinyint] NULL,
	[A_B] [tinyint] NULL,
	[A_C] [tinyint] NULL,
	[A_D] [tinyint] NULL,
	[A_E] [tinyint] NULL,
	[A_F] [tinyint] NULL,
	[A_G] [tinyint] NULL,
	[A_H] [tinyint] NULL,
	[A_I] [tinyint] NULL,
	[A_J] [tinyint] NULL,
	[A_K] [tinyint] NULL,
	[A_L] [tinyint] NULL,
	[A_M] [tinyint] NULL,
	[A_N] [tinyint] NULL,
	[A_O] [tinyint] NULL,
	[A_P] [tinyint] NULL,
	[A_Q] [tinyint] NULL,
	[A_R] [tinyint] NULL,
	[A_S] [tinyint] NULL,
	[A_T] [tinyint] NULL,
	[A_U] [tinyint] NULL,
	[A_V] [tinyint] NULL,
	[A_W] [tinyint] NULL,
	[A_X] [tinyint] NULL,
	[A_Y] [tinyint] NULL,
	[A_Z] [tinyint] NULL,
	[A_0] [tinyint] NULL,
	[A_1] [tinyint] NULL,
	[A_2] [tinyint] NULL,
	[A_3] [tinyint] NULL,
	[A_4] [tinyint] NULL,
	[A_5] [tinyint] NULL,
	[A_6] [tinyint] NULL,
	[A_7] [tinyint] NULL,
	[A_8] [tinyint] NULL,
	[A_9] [tinyint] NULL,
	[A__] [tinyint] NULL,
	[A_-] [tinyint] NULL,
	[A_#] [tinyint] NULL,
	[A_.] [tinyint] NULL,
	[A_,] [tinyint] NULL,
	[A_"] [tinyint] NULL,
	[A_(] [tinyint] NULL,
	[A_)] [tinyint] NULL,
	[A_ ] [tinyint] NULL,
	[A_\n] [tinyint] NULL,
	[A_+] [tinyint] NULL,
	[A_/] [tinyint] NULL,
	[A_%] [tinyint] NULL,
	[A_=] [tinyint] NULL,
	[A_&] [tinyint] NULL,
	[A_|] [tinyint] NULL,
	[A_!] [tinyint] NULL,
	[A_*] [tinyint] NULL,
	[A_<] [tinyint] NULL,
	[A_>] [tinyint] NULL,
	[A_am] [tinyint] NULL,
	[A_bm] [tinyint] NULL,
	[A_cm] [tinyint] NULL,
	[A_dm] [tinyint] NULL,
	[A_em] [tinyint] NULL,
	[A_fm] [tinyint] NULL,
	[A_gm] [tinyint] NULL,
	[A_hm] [tinyint] NULL,
	[A_im] [tinyint] NULL,
	[A_jm] [tinyint] NULL,
	[A_km] [tinyint] NULL,
	[A_lm] [tinyint] NULL,
	[A_mm] [tinyint] NULL,
	[A_nm] [tinyint] NULL,
	[A_om] [tinyint] NULL,
	[A_pm] [tinyint] NULL,
	[A_qm] [tinyint] NULL,
	[A_rm] [tinyint] NULL,
	[A_sm] [tinyint] NULL,
	[A_tm] [tinyint] NULL,
	[A_um] [tinyint] NULL,
	[A_vm] [tinyint] NULL,
	[A_wm] [tinyint] NULL,
	[A_xm] [tinyint] NULL,
	[A_ym] [tinyint] NULL,
	[A_zm] [tinyint] NULL,
	[A_del] [tinyint] NULL,
	[A_Token] [varchar](11) NULL
) ON [PRIMARY]
GO
